body, div, main, section, article {
  box-sizing: border-box; 
}

/* universal background color */
body {
    background-color: #676767;
}

.background {
    background-image: url('../img/assets/AB-FLAT_comic.png');
    background-repeat: no-repeat;
    background-position: top middle;
    background-size: cover;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.mainContainer {
    background-color:#676767;
    width: 50vw;
    align-content: center;
}

header img{
width: 200px;
height: auto;
margin-bottom: 20px;
background-color: transparent;
}

nav {
    background-color: transparent;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

li a {
  display: block;
  background-color: rgb(255, 255, 0);
  color: black;
  padding: 8px 16px;
  margin-bottom: 30px;
  text-decoration: none;
}

/* Change the link and background color on hover */
li a:hover {
  background-color: #fff67c;
  color: rgb(68, 68, 68);
}

.comicBox {
    background-color: #fff;
    width: 80vw;
    height: auto;
    padding: 30px;
    justify-content: center;
}

.comicBox .comicPage img {
    max-width: 700px;
}

/* .imageMap {
  width: 100vw;
  height: auto;
  background: #fff;
}

/* .links {
  width: 100vw;
  height: auto;
} */

/* #links a {
  opacity: 0;
  stroke: #ffffff;
  stroke-width: 5;
  fill: rgba(203, 203, 203, 0.5);
  transition: all .25s ease-in-out;
}

#links a:hover {
  opacity: 1;
}

.pop {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 20vw;
  background-color: #00000083;
  border: 3px solid #333;
  border-radius: 5px;
} */