/* body, div, main, section, article {
  box-sizing: border-box; 
}

/* universal background color */
/* body {
  background-color: #fff;
  background-image: url('../img/assets/band_room_stock.jpg');
  background-repeat: no-repeat;
  background-position: top middle;
  background-size: cover;
}

.leftDoor {
	position: absolute;
	top: 0;
  	left: 25px;
  	z-index: 1;
	cursor: help;
}

.leftDoor img {
	width: auto;
  	height: 300px;
	cursor: help;
}

.rightDoor {
    position: absolute;
	top: 0;
  	left: 300px;
  	z-index: 1;
	cursor: help;
}

.rightDoor img {
	width: auto;
  	height: 300px;
	cursor: help;
}

.musicStand {
position: absolute;
	top: 50px;
  	left: 50px;
  	z-index: 1;
	cursor: help;
}

.musicStand img {
	width: auto;
  	height: 300px;
	cursor: help;
}

/* take away margins from the edges of the screen */
/* html, body {
  margin: 0;
} */

body, div, main, section, article {
  box-sizing: border-box; 
}

/* universal background color */
body {
  background-color: #fff;
}

.imageMap {
  width: 100vw;
  height: auto;
  background: #fff;
}

/* .links {
  width: 100vw;
  height: auto;
} */

#links a {
  opacity: 0;
  stroke: #ffffff;
  stroke-width: 5;
  fill: rgba(203, 203, 203, 0.5);
  transition: all .25s ease-in-out;
}

#links a:hover {
  opacity: 1;
}

.pop {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 20vw;
  background-color: #00000083;
  border: 3px solid #333;
  border-radius: 5px;
}
